<!DOCTYPE html>
<html>
<head>
  <title>Concert History</title>
  <link href="//fonts.googleapis.com/css?family=Oswald:400,700|Playfair+Display:400,400italic" rel="stylesheet" />
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" />
  <link href="/styles/global.css" rel="stylesheet" />
</head>
<body>
  <header>
    <h1>Concert History</h1>
  </header>
  <main>
    <%= yield %>
  </main>
  <footer>
    <p>Source available on <a href="//github.com/zulaica/concert_history" target="_blank">GitHub</a>.</p>
    <p><a href="http://www.flickr.com/photos/94038853@N00/1137568247">Background photo</a> by <a href="https://www.flickr.com/people/94038853@N00">Bertrand</a></p>
  </footer>
</body>
</html>
